[2018-08-05 14:44] harisibrahimkv opened #4 "Can't upload plugin via API."
[code]
Here is my login attempt:
[code]
Seems like I am missing something obvious...

[2018-08-06 06:27] Hanzei commented on #4
Can confirm

[2018-08-15 06:44] scottleedavis commented on #4
I am also getting the same result.  Can't upload via api.  Here is my output from the command make deploy

`
Installing plugin via API
http --print b --check-status http://127.0.0.1:8065/api/v4/users/me || ( \
	    TOKEN=`http --print h POST http://127.0.0.1:8065/api/v4/users/login login_id=skawtus password=iw2lsf | grep Token | cut -f2 -d' '` && \
	    http --print b GET http://127.0.0.1:8065/api

[2018-08-15 08:38] scottleedavis commented on #4
After some investigation, the makefile needs to be fixed.  the `TOKEN` variable does not have visibility in scope outside its evaluation inside '(' & ')'.
Further more that TOKEN needs to be added to subsequent request as a the endpoints are expecting an 'Authorization' header.
Its late and I am headed to bed.  I'll try taking a stab at fixing the makefile tomorrow.

[2018-08-15 10:47] cpanato commented on #4
great catch! doing the change

[2018-08-15 18:40] #4 closed

[2018-11-02 20:20] moussetc opened #17 "Error on plugin activation"
When trying out a self-compiled version of the master branch of the sample plugin, there are the following errors:
- When enabling the plugin:
[code]

- When disabling the plugin:
[code]

Mattermost Server is a 5.4.0-rc1 Docker running on a Manjaro.
Does anyone else have that issue?

[2018-11-03 03:02] hanzei commented on #17
Some one the forum encountered the same problem: https://forum.mattermost.org/t/sample-plugin-problem/6054.

[2018-11-03 03:11] hanzei commented on #17
Would you please post the sections about plugins of your Mattermost  `config.json`? This might help debugging this.

[2018-11-03 12:18] moussetc commented on #17
Here's the plugins configuration:
[code]

[2018-11-06 00:52] Taffer opened #18 "Sample doesn't compile out of the box"
Fresh clone of the sample, followed by `make` in the directory fails:

[code]

As someone new to Mattermost server plugin dev, I have no idea what I'm doing; having something you can compile straight from GitHub would be really handy.

[2018-11-06 04:33] hanzei commented on #18
Hi @Taffer, thanks for the report.
Can you please run
[code]
within `mattermost-plugin-sample/`? This would help debugging this.

[2018-11-06 11:37] Taffer commented on #18
That works fine:

[code]

`make -d` isnt' terribly helpful:

[code]

My `$PATH` and `$GOPATH` don't actually have a `~` in them, they've all been expanded to `/home/chrish`.

[2018-11-06 12:39] hanzei commented on #18
I this the warning `Reading makefile 'build/setup.mk' (search path) (no ~ expansion)...` comes from the fact that `build/setup.mk` gets includes and doesn't contain a `~`.

What does `command -v go 2> /dev/null` output?

[2018-11-07 01:52] Taffer commented on #18
Fresh checkout and `make` is now producing this, which I can definitely work with... no idea why the behaviour changed though, maybe this was an issue with my machine's setup:

[code]

[2018-11-07 02:12] Taffer commented on #18
Looks like I'm making progress now, I guess this was user error. 🤷‍♂️

[2018-11-07 08:42] hanzei commented on #18
Mind if this issue gets closed @Taffer?

[2018-11-07 12:10] hanzei commented on #18
No problem. If you encounter any other problems with plugins, let me know!

[2018-11-08 11:45] hanzei commented on #17
I was able to reproduce the error with the latest Mattermost master. I also found some interesting log messages:
[code]
@moussetc Do you see similar messages in your log? They should appear above the ones you posted.

@lieut-data It appears to be [this](https://github.com/mattermost/mattermost-plugin-sample/blob/master/server/configuration.go#L56) loc which throws the panic. But I thought this sho

[2018-11-09 16:41] lieut-data commented on #17
Thanks for the heads up, @hanzei! Not sure if I just missed this when we ported the configuration changes to the sample plugin, or if it's a recent Go optimization, but the empty struct has zero width, allowing Go to allocate the same memory address each time `new(configuration)` is called.

I've submitted a [PR](https://github.com/mattermost/mattermost-plugin-sample/pull/21) to avoid this, since

[2018-11-15 13:02] #17 closed

[2019-01-07 14:35] kaakaa opened #26 "`make help` fails on macOS"
`make help` fails on macOS, because `tac` is not default command on macOS.

[code]

@lieut-data
As you said in [this comments](https://github.com/mattermost/mattermost-plugin-sample/pull/19#issuecomment-436811575), would you like to replace `tac` with `awk` for `make help`?
I think that `awk` is more compatible than `tac` for many os.

[2019-01-08 15:15] lieut-data commented on #26
Ah, good catch, @kaakaa -- I'm guessing I got `tac` via some of the development tooling I use with Mattermost.

If https://unix.stackexchange.com/questions/9356/how-can-i-print-lines-from-file-backwards-without-using-tac is accurate, we can replace `tac` with `sed '1!G;h;$!d'`.

@kaakaa, would you be willing to test that and submit a PR if it works as advertised?

[2019-01-09 15:30] #26 closed

[2019-04-29 09:02] slawek367 opened #37 "Can not use registerMessageWillBePostedHook"
Hi,
when I trying to use "registry.registerMessageWillBePostedHook(hook)" I could see that registerMessageWillBePostedHook is undefined. I saw it was implemented in v5.10.0 and that docker image I using. https://github.com/mattermost/mattermost-webapp/pull/2526

Here is some properties of registry:
![image](https://user-images.githubusercontent.com/25847388/56885938-1b640f80-6a6e-11e9-9b06-7d66efa

[2019-04-30 06:32] slawek367 commented on #37
Please close that issue, i used 'latest' mattermost docker which was 5.9.1 and not 5.10.0 so that was the problem.

[2019-04-30 09:02] #37 closed

[2019-06-19 09:11] manland opened #42 "Missing go get on fresh install"
I have installed a fresh dev env (go). When i clone this repo and start `make` it fail with errors.

Missing dep are :

* github.com/mattermost/mattermost-server/model
* github.com/pkg/errors

I need to `go get` them manually.

I see 2 options :

* add step in readme
* add go get in make file

[2019-06-19 09:24] hanzei commented on #42
Both of the packages are part of `go.mod`. See
- https://github.com/mattermost/mattermost-plugin-sample/blob/master/go.mod#L14
- https://github.com/mattermost/mattermost-plugin-sample/blob/master/go.mod#L20

What is the error that occurs?

[2019-06-19 09:27] manland commented on #42
[code]

after go get 2 dep all is ok

[2019-06-19 09:54] hanzei commented on #42
Would you please try if running `export GO111MODULE=on` before  `make` fixes this issue?

[2019-06-19 10:01] ThiefMaster commented on #42
I had the same issue and the export worked for me.

[2019-06-19 10:26] hanzei commented on #42
@ThiefMaster @manland You should clone the repository to a directory outside of `$GOPATH`. This should be the "clean" way to fix this. If the repository is inside of `$GOPATH`, you have to run `export GO111MODULE=on` before the first build.

[2019-06-19 12:39] lieut-data commented on #42
Go modules is still pretty new, and I know others have run into this point of confusion before. I've proposed a tweak to README.md that should clarify this: https://github.com/mattermost/mattermost-plugin-sample/pull/44.

[2019-06-19 12:45] manland commented on #42
Thanks!

[2019-06-25 19:50] lieut-data commented on #42
Thanks, @manland! Considering this resolved as of https://github.com/mattermost/mattermost-plugin-starter-template/pull/44.

[2019-06-25 19:50] #42 closed

[2019-08-22 07:54] Amonith opened #58 "Windows: go fmt will fail the build because of line endings"
On Windows it is not uncommon to setup Git so that it automatically checks-out files with CRLF line endings and commit them with LF. It is the default option when installing Git.
Because of those line endings, `go fmt` in the current setup in the Makefile will always report a difference to expected formatting and fail the build:

https://github.com/mattermost/mattermost-plugin-starter-template/blo

[2019-08-22 08:00] Amonith opened #59 "Windows: server executables in dist don't have correct file permissions"
Unix executables built on Windows deployed to the server through the plugin API don't have the `x` Unix file permission (only `.exe` has it) and because of that Mattermost will refuse to run them (permission denied).
In my setup I solved that by using WSL feature of Windows 10, so essentially I had to use Linux to build.

I did not find any other solution for this, but maybe it's worth to mention

[2019-09-09 12:23] shintaro-hz opened #65 "golang module error (Mac)"
I have got some errors as shown bellow when I did make command.
Mac OS 10.14.6
go version go1.13 darwin/amd64

Could you tell me how to fix it...

`go: github.com/mattermost/mattermost-server@v5.12.0+incompatible requires
	willnorris.com/go/imageproxy@v0.8.1-0.20190326225038-d4246a08fdec requires
	cloud.google.com/go@v0.37.1 requires
	go.opencensus.io@v0.19.1 requires
	google.golang.org/genproto@v

[2019-09-10 01:39] hanzei commented on #65
This looks like a problem with go1.13. We didn't got around updating our tool chain to go 1.13, but I will take care of this.

[2019-09-10 04:27] shintaro-hz commented on #65
Thank you for reply.

I will downgrade Go version.
Which version is stable to build mattermost app?

[2019-09-10 10:15] hanzei commented on #65
You should use at least `go1.12.3`

[2019-09-16 10:55] hanzei commented on #65
Hey @shintaro-hz,

I tried to repo your problem, but wasn't able. I'm using `go version go1.13 linux/amd64`. Would you please try and run `make clean` before your build?

[2019-10-15 16:13] aaronrothschild commented on #65
@shintaro-hz I'm assuming this issue has been resolved.  Closing, please log a new issue if it's still occurring.

[2019-10-15 16:13] #65 closed

[2019-10-18 16:11] lieut-data opened #68 "Investigate stripping symbol table and debugging information"
Building https://github.com/mattermost/mattermost-plugin-autolink with `-ldflags="-s -w"` reduces the final bundle down from `26M` to `16M`. Other plugins would benefit similarly.

As per http://dominik.honnef.co/posts/2016/10/go-and-strip/,

Investigate the impact of the `ldflags` addition above, compare it to `strip`, and make a `Makefile` recommendation that distinguishes production from develo

[2019-10-21 10:24] hanzei commented on #68
FYI: I've brought this topic up before (https://community.mattermost.com/core/pl/q1wgghckfbfemmaw55z1o67ewh).

@lieut-data What do you think about making this a Help Wanted?

[2019-10-21 15:15] lieut-data commented on #68
@hanzei, I'm open to that. In fact, I think that's what I meant to do when opening this ticket, but found we hadn't synced the labels to this repository, and then got sidetracked. Is it possible to sync the labels here as such?

cc @crspeller re: the description above, since you specifically raised concerns about stripping debugging symbols before.

[2019-10-21 15:44] crspeller commented on #68
Ya. I would be against this. The cost of additional issues debugging is not worth the minor reduction is file size.
Imagine if we stripped the server in production and Shift was having a perf issue. I imagine the profiler doesn't work very well with a stripped binary.

[2019-10-21 15:48] lieut-data commented on #68
@crspeller, that's fair. We don't really have any infrastructure to profile plugins right now, but imagining that did exist, would it be an enterprise-only feature?

Even then, there's probably benefit to reducing the number of "things we have to test". So if we keep plugins with debugging symbols, there's probably no reason to add the QA burden of testing the ones without.

Closing as discussed.

[2019-10-21 15:48] #68 closed

[2019-11-01 19:19] lieut-data opened #69 "Fix `make deploy` to correctly report an error"
Running `make deploy` can appear to succeed:

[code]

when in fact the configured `MM_ADMIN_USERNAME` or `MM_ADMIN_PASSWORD` was rejected by the server:
[code]

The issue is that a login failure doesn't propagate outside of the attempt to capture the resulting token:
https://github.com/mattermost/mattermost-plugin-starter-template/blob/69b6ae8467fc7e80d7f128556e28de292fc289ab/Makefile#L148

Find a

[2019-11-04 21:49] nathanmkaya commented on #69
Hey @lieut-data can I have a go at this?

[2019-11-05 08:47] hanzei commented on #69
Sure, thanks @nathanmkaya :+1:

[2019-11-07 10:04] #69 closed

[2019-11-11 20:04] jespino opened #72 "Update manifest.go to include entire plugin manifest."
Update `build/manifest.main.go` to dump the entire manifest from `plugin.json` into `server/manifest.go` instead of just the two fields listed there now. The declared type can just be `model.Manifest` from the `github.com/mattermost/mattermost-server/model` package.

This will enable plugins to reference their own manifests programmatically without having to parse the `plugin.json` manually.

----

[2019-11-11 20:59] ilgooz commented on #72
@jespino Directly exposing `*mode.Manifest` in the _manifest.go_ is a breaking change since in the current Go type, we have an `ID` with the upper case `D` and `*model.Manifest` has an `Id` with the lower case `d`.

Should we introduce a breaking change or keep the anonymous struct type by just extending it with the other fields?

[2019-11-11 21:05] jespino commented on #72
@lieut-data ☝️ ?

[2019-11-11 23:15] lieut-data commented on #72
@ilgooz, it’s breaking in that it is, indeed, not drop-in compatible. But since plugins only get these changes when updating from the starter template, it’s fine to break and expect some effort to migrate.

Ideally we document some kind changelog for anyone updating from an older template.

[2019-12-20 22:01] #72 closed

[2020-02-04 20:39] mickmister opened #83 "Help Wanted: Include example of http API call using the mattermost-redux client options"
#### Summary

With the MM server config setting `ServiceSettings.ExperimentalStrictCSRFEnforcement` enabled, any `POST` request that does not include the CSRF token supplied by the server will be rejected. In order to include the CSRF header supplied by the MM server, the webapp can use the `getOptions` method in the `mattermost-redux` client.

#### Tasks

- Update `package.json` to include the la

[2020-02-05 15:49] hanzei commented on #83
@mickmister I'm wondering if 2. and 3. should better take place in https://github.com/mattermost/mattermost-plugin-demo. I would like to keep the repo as minimal as possible given that it's often cloned. Let me know what you think.

[2020-02-05 16:24] mickmister commented on #83
@hanzei Makes sense to me. I just don't want someone to start developing a plugin that requires a webapp side, and then releasing a build that doesn't work with the CSRF settings on the server. Maybe we instead point to the demo pligin example in this repo's README?

[2020-02-05 16:25] hanzei commented on #83
Maybe even add a section to https://developers.mattermost.com/extend/plugins/webapp/best-practices/

[2020-02-08 10:20] AGMETEOR opened #85 "Error after running `make`"
Running make produces this error.
[code]

[2020-02-09 12:26] hanzei commented on #85
What go version are you using?

[2020-02-09 16:56] AGMETEOR commented on #85
`go version go1.13.1 darwin/amd64`

[2020-02-20 05:22] hanzei commented on #85
Would you please try running `go get -u golang.org/x/tools/go/analysis/passes/shadow/cmd/shadow` in `/tmp`?

[2020-03-04 10:38] s-trooper commented on #42
i got the same error, my $GOPATH is empty and "export GO111MODULE=on" doesnt help. I have no idea of golang/enviromant. can anyone help me please?
[code]

[2020-03-04 12:58] s-trooper commented on #85
Hi, i cannt compile too, on `make` i get:
[code]

[2020-03-04 13:02] AGMETEOR commented on #85
Tried running `go get ./...` ?

[2020-03-04 13:13] s-trooper commented on #85
I got it to compile/make, the default golang in Ubuntu 18.04 is go1.10, that doesn't work. After upgrade to go1.14 is all ok, it does compile.

[2020-03-04 14:53] s-trooper commented on #85
sure it is not my business but you should consider to write the requirements for development environment. i am still not able to compile this template, i've installed latest nodejs, npm, golang  and now after 2 hours i stick in some eslint error ... that feels more alpha than beta so far.

[2020-03-04 15:00] AGMETEOR commented on #85
What error are you getting? Please share the error details.

[2020-03-05 15:59] lieut-data commented on #42
@agarciamontoro, I know you recently ran into some pain re: `$GOPATH`. Does this look similar to your issue? Any suggestions for @s-trooper or how we can improve things here?

[2020-03-05 18:58] s-trooper commented on #42
@lieut-data i got this solved, it compiles with go1.15 but not go1.10 for me. next error that comes after can be solved with lates nodejs :)

[2020-03-06 09:37] agarciamontoro commented on #42
Great that you solved this, @s-trooper! Let us know if you have any other issues.

For the record, and although I don't think this was the problem here, if anyone has problems with an empty `$GOPATH`, it does not hurt to do `export GOPATH=$(go env GOPATH)` to make sure that the OS variable is set even if `GOPATH` is not explicitly set (which defaults to `$HOME/go`)

[2020-05-01 16:26] jfrerich opened #95 "golangci-lint version 1.25.1 causes error in build/manifest/main.go"
@jfrerich Would you please report the gosec issue on https://github.com/mattermost/mattermost-plugin-starter-template?

_Originally posted by @hanzei in https://github.com/mattermost/mattermost-plugin-demo/pull/100#issuecomment-622308714_

### Summary
This issue was found after integrating golangci-lint into the mattermost-plugin-demo repo (https://github.com/mattermost/mattermost-plugin-demo/pull

[2020-06-03 08:55] chetanyakan opened #100 "Use `eslint-config-mattermost` for webapp"

[2020-06-10 10:59] hanzei commented on #100
Good suggestion :+1:

[2020-06-27 18:40] mickmister opened #103 "Use `require` instead of `assert` in go unit test, to conform with the server repo and other plugin repos"

[2020-06-28 12:47] hanzei commented on #103
@mickmister Could you elaborate a bit why this changes is needed? `mattermost-server` uses both `assert` and `require` and that seams to me a reasonable, as both packages cover different use cases.

[2020-06-28 16:13] mickmister commented on #103
@hanzei it's not necessary. I was thinking of when we got rid of t.Fatal calls in favor of require logic equivalents. Assert is fine, I just haven't used it in a plugin project before as far as I know

[2020-06-28 16:13] #103 closed

[2020-07-20 14:39] mickmister opened #107 "Use socket API to deploy plugins, if available"
Currently, a plugin developer needs to do one of the following when deploying a plugin via the command line:

- Manually disable/enable a plugin or restart the server
- Authenticate as a Mattermost admin via environment variables

We want to make this process easier to lower the barrier to entry for developing plugins. Using the [local mode](https://docs.mattermost.com/administration/mmctl-cli-too

[2020-07-29 09:21] #107 closed

[2020-07-29 19:37] mickmister opened #110 "Include stubs for all hooks to get going quickly"
Original Message

If https://github.com/mattermost/mattermost-plugin-starter-template would contain a stub implementation of all hooks, new author could use it from the get go and even if they leave the unneeded hooks, it's not a big deal.

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/3oyebhq9w7b9bmzmbemz5573dh) *by @hanzei*._

[2020-07-29 19:38] mickmister commented on #110
This would be a great learning experience for someone to learn about the different hooks available in depth.

[2020-08-06 19:00] lieut-data commented on #110
Note that this has a non-zero impact on performance if a user mistakenly leaves these stubs in place: the server optimizes away the need to notify plugins of hooks that it doesn't register.

[2020-08-06 19:05] mickmister commented on #110
@lieut-data I was thinking the same. Do you have any ideas of how we can help a plugin dev new to the framework have some sort of IDE support for the hooks? Linking to the docs does our due diligence, but there are so many functions that having autocomplete like `p.API`, but for hooks, would be immensely helpful. I am not aware of a way to do this with Go for creating methods on a struct. Please s

[2020-08-06 19:10] lieut-data commented on #110
I'm not particularly fond of the "implement the method" magic that currently exists. I'd much rather have something like a `p.API.RegisterExecuteCommand(p.ExecuteCommand)` (or `p.Hooks.RegisterExecuteCommand(p.ExecuteCommand)`).

In principle, this is possible, but it requires reworking the implementation of `hooksRPCServer` to support same, looking to a registry defined at run-time instead of ref

[2020-08-06 19:13] mickmister commented on #110
@lieut-data That would just be another place that needs to be updated whenever a new hook is implemented :) Our docs are a bit out of date in that regard and I have a todo to update those. I suppose we could have the stubs and comment them out?

[2020-08-06 19:16] lieut-data commented on #110
So in my proposal, that would be the /definition/ of the hooks, and to implement same in the server, we'd bump our dependency on mattermost-plugin-api and implement the required interface. In theory, at least, no duplication required at all.

This is pragmatic: I like it! (Same duplication problem, of course.)

[2020-08-12 10:40] trivikramak opened #111 "Writing plugins in other languages"
Is it possible to write mattermost plugins in python? Are there any good references/examples for the same?

[2020-08-13 16:56] Salatfreak opened #112 "Build fails when removing the webapp component"
According to the [README](/mattermost/mattermost-plugin-starter-template/blob/master/README.md#how-do-i-make-a-server-only-or-web-app-only-plugin) we can simply delete the `webapp` folders and remove the corresponding sections from `plugin.json`. `make` will produce the following error message though:

This could for example be fixed by always fulfiling the `webapp/package.json` target if the plug

[2020-08-14 11:05] hanzei commented on #112
Good catch @Salatfreak. Are you intested in submitting a patch for this bug?

[2020-08-14 20:10] mickmister opened #113 "Add go.mod file in `build` folder to isolate dependencies needed to perform builds"
Dependencies have been added to the plugin root directory's `go.mod` in order to support new functionality in the build process. As a result, plugins that sync with the starter template have had their root `go.mod` file altered to support the build functionality.

Having a separate `go.mod` file in the build folder allows us to more easily sync the deps needed to build across repos, as well as kee

[2020-08-17 20:46] mickmister opened #114 "Eslint fails when using string interpolations in an object declaration"
Eslint itself has an error when certain syntaxes are used. We believe it is due to babel not being able to properly parse the code given some combination of dependency versions we are using.

Minimal example:
[code]

It will result in an error similar to this issue: https://github.com/eslint/eslint/issues/13248

[2020-08-21 17:12] shieldsjared opened #115 "Trailing slash on `MM_SERVICESETTINGS_SITEURL` causes non-obvious errors"
While attempting to use this starter template, I set my `MM_SERVICESETTINGS_SITEURL` with a trailing slash.  It was not immediately obvious that this was the cause of the error I was receiving, as it _appeared_ that some calls were successful while others were not

[code]

As you can see in the log, the upload _appears_ to work, but then the subsequent call to enable it fails. What's interesting i

[2020-08-22 17:10] shieldsjared opened #116 "Readme references old debug configuration steps"
The readme still references the use of `make dist-debug` and `make deploy-debug`, but appears this has been removed in favor simply setting the `MM_DEBUG` environment variable/flag.

[2020-08-24 15:51] shieldsjared commented on #116
PR #117 accepted and merged. Closing this report.

[2020-08-24 15:51] #116 closed

[2020-08-25 12:10] hanzei commented on #115
Trimming the trailing slash is a fine solution. Looking forward to your PR! :+1:

[2020-08-31 15:13] shieldsjared commented on #115
@hanzei - PR Submitted.

[2020-09-03 15:58] mickmister opened #121 "Repo sync tool: Support `excludes` field in actions"
Would it be possible to support an `exclude` field in `plan.yml` near `paths`, in order to exclude certain files/folders? `build/sync` for example should only be in the starter-template, and not in the other plugin repos. So when the `build` folder is sync'd, the `build/sync` folder comes along too.

_Originally posted by @mickmister in https://github.com/mattermost/mattermost-plugin-starter-templ

[2020-09-03 17:02] mickmister opened #122 "Repo sync tool: Partial equality checks/merges"
Sometimes we add a new script to the `scripts` portion of `package.json`, and we want every plugin to receive this change. This requires a manual reconciliation of changes after overwriting the file (or however you choose to go about it), because each plugin understandably has several dependency differences.

It would be great to be able to have a `check` for this for the purposes of CI. Something

[2020-09-03 17:06] mickmister opened #123 "Repo sync tool: Script to check if a target repo needs to be sync'd"
In order to support a CI check to see if a repo needs to be sync'd with the starter template, I think we would just need a script that performs a dummy sync between the repos, and if any files changed return a non-zero error code.

[2020-09-16 23:55] #113 closed

[2020-09-24 10:06] #115 closed

[2020-09-24 21:07] #112 closed

[2020-09-27 08:45] moussetc opened #131 "Additional files to edit when using the template"
In addition to editing plugin.json, it seems there are other files that might need to be updated with the new plugin ID?
- .golangci.yml:
[code]

- go.mod
[code]

[2020-09-27 09:05] moussetc opened #132 "Suggestion: make the template more 'marketplace-ready'"
It would be useful if plugins based on this template were to achieve the basic marketplace requirements automatically: less effort both for plugin maintainers (no need to hunt out missing requirements in the docs) and for the marketplace reviewers (more requirements would be already checked).

This could be achieved by:
1. Completing the plugin.json file with the required fields:
[code]
+ adding t

[2020-09-27 09:59] hanzei commented on #131
Good suggestion :+1: Are you interested in updating the readme?

[2020-09-27 10:01] hanzei commented on #132
These are all great suggestions :+1: https://github.com/mattermost/mattermost-plugin-demo/blob/master/assets/icon.svg might be a good icon to use as default.

[2020-10-07 05:36] hanzei commented on #95
This was fixed by https://github.com/mattermost/mattermost-plugin-starter-template/pull/96. Closing.

[2020-10-07 05:37] #95 closed

[2020-10-08 13:41] vladimirshikhov opened #134 "Build fail"
after make command:
[code]

[2020-10-08 19:30] hanzei commented on #134
Hm, I can't reproduce this locally.

What commit did you use? And which go version are you running?

[2020-10-09 04:30] vladimirshikhov commented on #134
Hi !
[code]

[2020-10-09 08:13] hanzei commented on #134
https://github.com/mattermost/mattermost-plugin-starter-template/pull/128 did also broke the tests. Let's see if the fix for that also fixes your issue.

[2020-10-09 09:06] vladimirshikhov commented on #134
i did a git pull, unfortunately the error persists:
[code]

[2020-10-09 10:04] hanzei commented on #134
Would you please test with go `1.15`?

[2020-10-09 11:01] vladimirshikhov commented on #134
Yes, some result:
[code]

[2020-10-09 17:27] hanzei commented on #134
@tasdomas Do you have any ideas why the tests are failing?

[2020-10-09 17:34] tasdomas commented on #134
@hanzei, the fix landed in https://github.com/mattermost/mattermost-plugin-starter-template, 95bcc7ac. I suspect a `git merge origin master` is all that's needed.

[2020-10-10 04:44] vladimirshikhov commented on #134
Still can't build plugin:

[code]

[2020-10-10 07:35] tasdomas commented on #134
The failure is caused by the `--depth 2` you're doing when cloning the repo. Do a full clone and the test will pass. I'll look into making the file_history tests independent of the repository's history.

[2020-10-11 05:41] vladimirshikhov commented on #134
it's helpful, Thank's!

[2020-10-12 08:31] hanzei commented on #134
@vladimirshikhov Did removing `--depth 2` solve your issue?

[2020-10-15 21:17] moussetc commented on #134
Hi, I have had the same error.
19 days ago, when I last built my plugin after update the template files to commit 1ce44fa, the build passed both locally and in my TravisCI build.
Today, I made some new commits on the plugin, without anything related to the sync folder, and the build pass locally but fails on TravisCI because travisCI uses `--depth 50` by default.

Updating the content of the build

[2020-10-16 07:14] vladimirshikhov commented on #134
Yes, it solve issue, thanks.

[2020-10-16 10:51] #134 closed

[2020-10-16 11:01] #131 closed

[2020-10-18 21:47] amwolff opened #136 ".editorconfig file is probably incorrectly formatted"
My IDE (GoLand 2020.2.3) complains about the `.editorconfig` file.

This is the problematic line: https://github.com/mattermost/mattermost-plugin-starter-template/blob/d3786e75dd37de87548942e72d509034b7fffa4f/.editorconfig#L21

Parser's error:

[code]

This fixes the problem:

[code]

Am I correct with this one?

[2020-10-20 14:37] #136 closed

[2020-11-09 16:54] jwillmer opened #139 "The setup is a mess"
I'm working on Windows in WSL. I cloned this template and followed the documentation to build it but so far I was not able to. This is what happened when running make:

- go not found
- > install go
- npm not installed
- > installing npm
- eslint not installed
- > installing eslint
- eslint package-[...] not installed
- > run `npm install` in webapp directory
- eslint line feed error
- > run eslin

[2020-11-14 21:43] jwillmer commented on #139
I managed now to run it under WSL by not using any tool from Windows and storing the data in the WSL container. Still the point is that the "starter-template" is not for starters.

[2020-11-28 00:31] gleke opened #140 "Error after running `make`"
[code]

[2020-11-29 06:44] hanzei commented on #140
What version of `golangci-lint` are you running?

[2020-12-01 00:23] gleke commented on #140
golangci-lint has version 1.33.0 built from b90551c on 2020-11-23T05:15:36Z

[2020-12-02 10:59] hanzei commented on #140
Hm, I can't reproduce the issue on my local server. But I found a similar issue on the golangci-lint repo: https://github.com/golangci/golangci-lint/issues/825. Does one of the tips like https://github.com/golangci/golangci-lint/issues/825#issuecomment-666038142 help you?

[2020-12-14 12:57] girish17 opened #142 "Template installation issue: make freezes during npm install"
`make` operation freezes during `npm install`. Freezes at `extract:@icons/material: sill extract @icons/material@0.2.4 extracted`

[2020-12-14 13:16] hanzei commented on #142
Could you please run `make clean` and then `make`?

[2020-12-15 06:25] girish17 commented on #142
Tried that.
![frozenMake](https://user-images.githubusercontent.com/25923137/102178686-dce1c980-3ecb-11eb-9699-b5e08e429266.png)
Doesn't seem to work. Is the [Getting Started](https://github.com/mattermost/mattermost-plugin-starter-template#getting-started) section up to date?

[2020-12-15 22:18] hanzei commented on #142
What OS and `npm` version are you using? Just tested locally on a Linux system with `6.14.8` and didn't found any issues.

[2020-12-16 02:02] girish17 commented on #142
OS - `Ubuntu 20.04 LTS GNU/Linux 64 bit`
Kernel - `Linux 5.4.0-58-generic x86_64`
NPM version - `6.14.4`

[2020-12-16 02:32] girish17 commented on #142
Tried again from scratch, installed few missing dependencies and it works now! Thanks @hanzei

[2020-12-16 02:32] #142 closed

[2020-12-16 10:40] girish17 commented on #142
On a side note - This template still freezes during `make` with following configuration:
OS - `Trisquel 8 Fildas GNU/Linux 64 bit` (based on Ubuntu 16.04 LTS)
Kernel - `4.4.0-197-generic #229+8.0trisquel3`
NPM version - `6.14.8`

Seems, like this is an unusual bug related to some dependency and the only fix I could think of is to stick to a config that worked (as mentioned earlier).

[2021-02-22 20:13] #132 closed

[2021-03-10 19:29] icelander opened #146 "go.mod has incorrect Golang version"
**Steps to reproduce**

1. Install Golang v1.12.x
2. Clone this repository & `cd` into it
3. run `make dist`

**Expected Behavior**

Example plugin builds successfully

**Observed Behavior**

Plugin fails to build. Output indicates the version of `go-multierror` required needs Golang v1.14+:

[code]

[2021-03-16 20:07] hanzei commented on #146
This will be fixed with https://github.com/mattermost/mattermost-plugin-starter-template/pull/145 as go 1.16. is required then.

[2021-04-01 08:26] girish17 opened #147 "NPM error after running make"
`cd webapp && /usr/local/bin/npm install
npm ERR! code 1
npm ERR! git dep preparation failed
npm ERR! command /snap/node/3790/bin/node /usr/local/lib/node_modules/npm/bin/npm-cli.js install --force --cache=/root/.npm --prefer-offline=false --prefer-online=false --offline=false --no-progress --no-save --no-audit
npm ERR! npm WARN using --force Recommended protections disabled.
npm ERR! npm WARN ERE

[2021-04-01 23:02] hanzei commented on #147
Does running  `make clean` and then `make dist` resolve your issue?

[2021-04-02 04:31] girish17 commented on #147
no

[2021-04-05 06:27] hanzei commented on #147
What version of `npm` are you using?

[2021-04-05 06:55] girish17 commented on #147
7.7.6

[2021-04-09 19:42] moussetc commented on #147
I didn't have this specific error, but I had to `make clean` & `make dist `4 or 5 times before the install worked without errors (and install python2 on my computer as well, which was a bit of a surprise).

[2021-04-17 10:01] girish17 opened #148 "make error"
Running golangci-lint
golangci-lint run ./...
server/plugin.go:12:13: fieldalignment: struct with 64 pointer bytes could be 40 (govet)
type Plugin struct {
            ^
make: *** [Makefile:48: check-style] Error 1

[2021-04-17 13:08] hanzei commented on #148
What version of `golangci-lint` do you have installed?

[2021-04-18 03:50] girish17 commented on #148
golangci-lint has version 1.39.0 built from 9aea4aee on 2021-03-26T08:02:53Z

[2021-04-20 02:22] girish17 commented on #148
After checking out code from `148_fieldalignment` branch and running `make` command, no errors were found. The plugin was built successfully and `make deploy` worked.

[2021-04-20 02:22] #148 closed

[2021-05-20 00:52] mickmister opened #152 "Plugin should require confirmation when building with plugin id "com.mattermost.plugin-starter-template""
When I use the starter template for a new project and deploy the plugin to my environment, it always deploys as `Plugin Starter Template` with id `com.mattermost.plugin-starter-template`. This is because I'm not thinking about changing the plugin id when I'm creating a POC.

I propose we make it so running the `make deploy` command (and others like it that build the plugin) would first ask the use

[2021-05-20 00:52] mickmister commented on #152
@hanzei What are your thoughts on this?

[2021-05-20 09:08] hanzei commented on #152
@mickmister I don't have objection to this change, but I would suggest to only log a message and don't block the flow of a user.

[2021-05-20 21:31] nathanaelhoun opened #153 "Sync tool checks are failing even if the repositories are clean"
Hi! I am trying the relatively new synchronisation tool, but it always fails with this message :
[code]

Both of the source and target repositories are clean (`git status` outputs `nothing to commit, working tree clean`).

[2021-05-21 09:39] hanzei commented on #153
Good catch. There seems to be an issue with the separate `go.mod` file in `/build`.

[2021-05-27 11:24] hanzei commented on #146
Fixed with https://github.com/mattermost/mattermost-plugin-starter-template/pull/145

[2021-05-27 11:24] #146 closed

[2021-05-27 17:01] haardikdharma10 commented on #152
Hey @mickmister! This could be a nice addition. @hanzei has a valid point too. Can we change the Makefile wherein we can use `$(info message)` or `$(warning message)` in the deploy command, both of which won't stop the execution. If yes, which one do you think will be better to use?

[2021-06-25 17:54] mickmister commented on #152
@haardikdharma10 I agree, and I think using `warning` makes sense because this message is meant to alert the user to change something.

[2021-09-18 08:26] shinsunyoung opened #159 "building for macOS-x86_64 but attempting to link with file built for unknown-arm64"
Hello.
Follow the README explanation and entered `make`. I expected a tar.gz file to be created.

However, the following error occurred and the file was not created.

[code]

[2021-09-18 08:38] shinsunyoung commented on #159
In my case, I deleted the corresponding code in `Makefile` and solved it.
[code]

[2021-09-28 13:48] hanzei commented on #159
What mac book are you using?

[2021-09-28 14:35] shinsunyoung commented on #159
Im using Big Sur 11.5.2

[2021-09-28 16:22] hanzei commented on #159
Sorry for being ambiguous. What is the hardware you are using? Does it contain the new apple processor?

[2021-10-01 14:03] hanzei commented on #159
Is that an arm64 processor by any chance?

[2021-10-02 02:45] shinsunyoung commented on #159
no

[2021-10-04 08:09] hanzei commented on #159
That is surprising given that the line you added builds for `arm64`: `	cd server && env GOOS=darwin GOARCH=arm64 $(GO) build $(GO_BUILD_FLAGS) -o dist/plugin-darwin-arm64;`

[2022-02-21 08:14] vblz opened #164 "Does current master work well with the 5th branch?"
[`plugin.json` says `"min_server_version": "5.37.0"`](https://github.com/mattermost/mattermost-plugin-starter-template/blob/18b436aa4c5f329e96df5cc78b5f00f3fd2d89d2/plugin.json#L10), but backend plugin requires `github.com/mattermost/mattermost-server/v6`.

Plugin builded with current master has error deploying to v5.39.1:
[code]

[2022-02-22 12:35] hanzei commented on #164
@vblz Can you reproduce the error consistently? Does it also happen when you deploy to a v6 server?

[2022-04-15 10:41] scriptdealer opened #165 "Make fails with the current Node.js version (v17.9.0)"
Hello guys, what's up with this repo, is it obsolete ? I've got a multiple "deprecated dependency" warnings and then make command fails. How should I start developing my plugin ?

Log here:
[code]
This is clean Ubuntu 20.04 LTS with latest Golang and Node.js installations

[2022-04-20 07:40] vblz commented on #164
I manage to reproduce it consistently, it repdocues on both v5 and v6 servers.

### Env
[code]
Mattermost test stand:
`sudo docker run --name mattermost-preview -d --publish 8065:8065 mattermost/mattermost-preview`

### WTR
1. `git clone --depth 1 https://github.com/mattermost/mattermost-plugin-starter-template com.example.my-plugin && cd com.example.my-plugin && GOFLAGS=-buildvcs=false make`
2. U

[2022-06-01 12:21] avas27JTG opened #168 "Add ".nvmrc" file for webapp."
It becomes difficult sometimes to use the proper node version for installing the web app dependencies on the hit and trial method as the `.nvmrc` file is missing. Please let me know if I should create one PR for it, for me the node version that worked correctly was `14.18.0`.

[2022-09-18 11:29] hanzei commented on #168
@avas27JTG That would be great!

[2022-10-07 18:40] #164 closed